@import 'sass/colors';
@import 'sass/mixins';

body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
  background-color: black;
}

#flex-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  header {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    background-color: $gray;
    z-index: 1;
    a {
      display: block;
      padding: 0.3em 0.5em;
      font-size: 2em;
      i {
        color: white;
      }
      &:hover {
        i {
          &.fa-empire {
            color: $imperial-red;
          }
          &.fa-rebel {
            color: $rebel-blue;
          }
        }
      }
    }
  }
  starwars-app {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    character-list {
      flex-shrink: 0;
      flex-grow: 1;
      max-width: 15em;
      background-color: $gray-really-dark;
      border-bottom: 1px solid $gray-dark;
      z-index: 1;
      overflow-y: auto;
    }
    character-detail {
      flex-grow: 6;
      z-index: 1;
    }
  }
  footer {
    color: white;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    justify-content: space-between;
    align-items: center;
    background-color: $gray;
    padding: 1em 1em;
    z-index: 1;
  }
}
